/* index.css */

* {
    box-sizing: border-box;
}

html,body{
  height: 100%;
  margin: 0;
  background-color: #F5F7FB;
}


.blob{
  position: absolute;
  z-index: 0;
  pointer-events: none;
  width: 400px;
}



/* ///////////////////////// */
/* ///////////////////////// */
/* startScreen */
/* ///////////////////////// */
/* ///////////////////////// */
.start-screen{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.start-screen, .start-screen > h1, .start-screen > button{
  position: relative;
}

.start-screen > h1, .start-screen > button{
  z-index: 1;
}

#root, main, .start-screen{
  width: 100%;
  height: 100%;
}

.start-screen > h1{
  color: #293264;
}

.start-screen > button{
  color: #F5F7FB;
  background-color: #4D5B9E;
  border: none;
  border-radius: 15px;
  padding: 1em 2.5em;
  margin-top: 1em;
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  transition: transform 0.1s ease;
}

.start-screen > button:active{
  transform: translateY(2px);
}


.start-screen > h1{
  font-family: "Karla", sans-serif;
  font-size: 4rem;

}


.blue-blob{
  bottom: -190px;
  width: 600px;
  left: -140px;

}

.yellow-blob{
  top: -120px;
  right: -120px;
}



/* ///////////////////////// */
/* ///////////////////////// */
/* Quiz */
/* ///////////////////////// */
/* ///////////////////////// */


.quiz{
  color: #293264;
  width: 900px;
  margin: 5em auto;

}

.quiz-blue-blob{
  bottom: -140px;
  left: -140px;
}

.quiz-blue-blob, .quiz-yellow-blob{
    width: 350px;
}

.quiz-yellow-blob{
  top: -180px;
  right: -180px;
}

.quiz-questions h2{
  font-family: "Karla", sans-serif;  
  font-size: 2rem;
  margin-bottom: 1em;
}


.quiz-questions{
  border-bottom: 1px solid #DBDEF0;
}

.radio-group input[type="radio"]{
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.radio-btn{
  /* margin: 1em; */
  font-family: "Inter", sans-serif;
  border: 1px solid #4D5B9E;
  background-color: transparent;
  padding: 0.5em 1.5em;
  border-radius: 15px;
  cursor: pointer;

  transition:
    background-color 0.15s ease,
    color 0.15s ease,
    transform 0.05s ease;

}

.radio-group input[type="radio"]:checked + .radio-btn {
  background-color: #D6DBF5;
  border: none;
}

.radio-btn:hover {
  background-color: rgba(77, 91, 158, 0.08);
}

.radio-group{
  display: flex;
  flex-direction: row;
  gap: 1.5em;
  margin-bottom: 2em;
}

.check-answers-btn-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.check-answers-btn{
  color: #F5F7FB;
  background-color: #4D5B9E;
  border: none;
  border-radius: 15px;
  padding: 1em 2em;
  margin-top: 2.5em;
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;

}

.radio-btn:active {
  transform: translateY(1px);
}
